<!DOCTYPE html>
<html>

<head>
	<title>Campus Diaries!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyles.css') }}">
    <script src="js\bootstrap.js"></script>
</head>

<body>
<!-- start body content -->

<!-- code for the header. using jinja logic determine which buttons for whom, calling mainpage which renders index -->
<ul id="men">
  	<li style="margin-left: 0px;" class="active"><a href="{{url_for('mainpage')}}"><b>Campus Diaries</b></a></li>
  	<li ><a href="index.html">About</a></li>

  	<!-- If the user is logged in, calling program logout in browser which renders index -->
    {% if session.logged_in %}
	<li style="float: right;"><a href="{{url_for('logout')}}">Logout</a></li>

	<!-- if user is logged in and rank is 1 -->
    {% if session.rank == 1 %}
    <li style="float: right;"><a href="{{url_for('moderate')}}">Moderate</a></li>
    {% endif %}
    <!-- endif -->

    <!-- if user logged in and his rank 2(admin) -->
    {% if session.rank == 2 %}    	
    <li style="float: right;"><a href="{{url_for('makemoderator')}}">Tools</a></li>
    <li style="float: right;"><a href="{{url_for('moderate')}}">Moderate</a></li>
    {% endif %}
    <!-- endif -->

    <!-- since he is loggd in, show his username -->
    <li style="float: right;"><a href="#">{{session.user_name}}</a></li>
    {% else %}
    <!-- else thtat is if user not logged in -->

    <!-- show log in and sign in buttns -->
    <li style="float: right;" onclick="document.getElementById('loginid').style.display = 'block'" id="logintext">Log In</li>
    <li style="float: right;"><a href="{{url_for('registrationPage')}}">Sign Up</a></li>      
    <li id="searchbox" style="float: left;" ><form class="form-inline my-2 my-lg-0">
    {% endif %}
    <!-- end whole block of if and else -->

    <!-- html for the search box which appears in centre -->
    <input class="form-control mr-sm-2" type="text" style="width: 300px;margin-left: 200px" placeholder="Will best implemented" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: black">  Search</button></form></li>
    <!-- end search box html -->
</ul>
<!-- end the navigation bar html -->

<!-- A small portion to prevent overflow -->
<div style="width: 100%;height: 50px"></div>


<!-- modal which appears when log in is clicked -->
<div id="loginid" class="modal">
  	<form class="modal-content animate" action="{{url_for('login')}}" method="Post">
    	
    	<!-- When x mark is pressed, clode modal -->
    	<div class="imgcontainer">
	      	<span onclick="document.getElementById('loginid').style.display='none'" class="close" title="Close Modal">&times;</span>
            <label style="text-align: center;">LOGIN</label>
    	</div>

    	<!-- contents of the form -->
    	<div class="container form-group">
		    <label ><b>Roll Number</b></label><br>
		    <input type="text" placeholder="eg. 160209733114" name="rollno" required><br>
		    <label><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="psw" required>
		    <button type="submit">Login</button>
    	</div>

    	<!-- cancel button also works same as into button -->
    	<div class="container" style="background-color:#f1f1f1">
      		<button type="button" onclick="document.getElementById('loginid').style.display='none'" class="cancelbtn">Cancel</button>
    	</div>
  	</form>
</div>
<!-- end login modal -->

<!-- jinja logic which helps in inherting stuff into other pages. WHatever is there, it comes in between block body. -->
{% block body %}{% endblock %}

</body>
<!-- end the html code for header.html -->
