{% extends "header.html" %}
{% block body %}

	<div class="container-fluid">

		<div class="row">
    		<div class="col col-lg-2">
    			 {% if session.logged_in %}
           <a id="po" href="{{url_for('newpost')}}"  ><div id="posvaala">Post</div></a>
            {% endif %}
      			<aside class="sidebar big-sidebar ">


	           	 	<ul>
	               		<li class="color-bg">
	                    	<ul class="blocklist">

	                        	<li><a class="selected" href="index.html">Techno</a></li>
	                        	<li><a href="#">Toast Masters</a>
								<li><a href="#">Photography</a></li>
								<li><a href="one-column.html">Swayam</a></li>
								<li><a href="text.html">Kriti Arts</a></li>
								<li><a href="three-column.html">Physics</a></li>
	                   	    	<li><a href="#">Maths</a></li>
	                        	<li><a href="#">Chemistry</a></li>
	                    	</ul>
	                	</li>
	                </ul>
                </aside>

    		</div>
    		<div class="col col-lg-8" >








      				posts will appear here..
      				The values sent from the server are {{session.user_id}} and {{session.user_name}} and {{session.user_rank}}



      				<br><br><br><br>
      				did four brs

              {% for post in posts %}
      				<div class="row">
      					<div class="col col-lg-12" style="background-color: pink; height: 50px">
      						{{post.postedby}}
      					</div>
      				</div>
      				<div class="row">
      					<div class="col col-lg-6" style="background-color: red; height: 150px">
      						<img src="{{url_for('send_image', filename = post.postpic )}}" >

      					</div>
      					<div class="col col-lg-6" style="background-color: blue; height: 150px;">
      					  <div class="row">
                    <div class="col col-lg-12">
                      <b>{{post.title}}</b>
                    </div>
                    <div class="col col-lg-12">
                      {{post.shortdesc}}
                    </div>
                  </div>
      					</div>
      				</div>
              {% endfor %}





       		</div>
			<div class="col col-lg-2">
				<div style="background-color: lightblue;height: 500px;float: right;height: 500px;width: 100%">
		   		inside third div<br>second line
		   		</div>
	     	</div>
  		</div>
	</div>





<script>
// Get the modal
var l = document.getElementById('loginid');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == l) {
        l.style.display = "none";
    }
}

function closeflashcontent()
{
  getElementById('flashcontent').style.display = "none";
}
</script>


{% endblock %}
