{% extends "header.html" %}
{% block body %}


  <script type="text/javascript">

  function makemod(userid) {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
             if (xmlhttp.status == 200) {
                 //document.getElementById("j").innerHTML = xmlhttp.responseText;
                //  alert(xmlhttp.responseText);
                removeuser(userid);
             }
             else if (xmlhttp.status == 400) {
                alert('There was an error 400');
             }
          }
      };

      var data = String(userid);
      xmlhttp.open("POST", "{{url_for('ismoderated')}}", true);
      xmlhttp.send(data=data);

}

function removeuser(userid){
  document.getElementById(userid).style.display = "none";
}




  </script>

<div class="container">

      {% for user in users %}
      <div id={{user.rollnumber}} style="display: block">
            <p>Username: {{user.username}} Roll Number:{{user.rollnumber}}</p><button class="btn btn-success" onclick="makemod({{user.rollnumber}})">Make Moderator</button>
            <hr>
      </div>
      {% endfor %}
</div>









{% endblock %}
