{% extends "header.html" %}
{% block body %}


<form action="{{url_for('newpost')}}" method="Post" enctype="multipart/form-data">


      <h1>Post form</h1>

      <label><b>Post title</b></label>
      <input type="text" style="color: black;" placeholder="Enter post title" name="title" required>
      <hr>
      <br>

      <label><b>start date</b></label>
      <input type="Date" style="color: black;" name="startdate" required>

      <label><b>end date</b></label>
      <input type="Date" style="color: black;" name="enddate" required>

      <label><b>Short Description</b></label>
      <input type="text" style="color: black;" placeholder="Enter short description" name="shortdes" required>
      <hr>
      <br>

      <label><b>Long description</b></label>
      <input type="text" style="color: black;" placeholder="Enter long description" name="longdes" required>
      <hr>
      <br>

      <label><b>Contact number</b></label>
      <input type="text" style="color: black;" placeholder="Enter contact" name="contact" required>
      <hr>
      <br>

      <label><b>Select club</b></label>
      <select name="club">
    <option value="misc">misc</option>
    <option value="club1">club2</option>
    <option value="club1">club3</option>
    <option value="club3">club4</option>
  </select>

       <label><b>Upload Image</b></label>
      <input type="file" id="postimage" name="file">
      <hr>
      <br>


      <input type="submit" value = "Submit">
</form>

{% endblock %}
