{% extends "header.html" %}
{% block body %}


<form action="{{url_for('registrationPage')}}" method="Post">


      <h1>Sign Up form</h1>

      <label><b>Username</b></label>
      <input type="text" style="color: black;" placeholder="Enter username" name="username" required>

      <label><b>Email</b></label>
      <input type="email" style="color: black;" placeholder="Enter Email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" style="color: black;" placeholder="Enter Password" name="psw" required>

      <label><b>Repeat Password</b></label>
      <input type="password" style="color: black;" placeholder="Repeat Password" name="confirm" required>

       <label><b>Roll Number</b></label>
      <input type="number" style="color: black;" placeholder="eg: 160215733114" name="rollno" required>

      <label><b>Enter Date of birth</b></label>
      <input type="Date" style="color: black;" name="dob" required>

      <input type="submit" value = "Submit"> 
</form>

{% endblock %}
